 <!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani</title>
    <link rel="icon" href="/img/logo2.png">
    
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
    <style>

        .main{
            max-width: 100%;
            padding: 20px;
            background-color: #d06d6d;
          box-shadow: 0 0 10px rgba(19, 17, 17, 0.377);
        }
        
        
        .profile {
          max-width: 100%;
          margin: 0 auto;
          text-align: center;
          padding: 20px;
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        
        .profile img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-bottom: 20px;
        }
        
        .profile h2 {
          font-size: 36px;
          margin-bottom: 10px;
        }
        
        .profile p {
          font-size: 24px;
          margin-bottom: 20px;
        }
        
        .profile ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        
        .profile li {
          font-size: 18px;
          margin-bottom: 10px;
        }
        
        .profile li strong {
          display: inline-block;
          width: 100px;
          font-weight: bold;
          margin-right: 10px;
        }
        </style>
</head>
<%- include('../layouts/adminheader') %>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    
                </div>
                
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Coupon details</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Coupon details</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
   
    
    <!-- Content wrapper -->
    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-12">
                                    <div class="p-1"><div class="container-fluid">
            <div class="sub-container thehome">
                <div class="p-3">
                    <h1 class="thenewarrival">Coupon Management</h1>
    
        <div class="row" id="but"><a href="/admin/add-coupon" class="  btn-sm btn-success  " style="width:100px;">Add Coupon</a></div>
    
                    <div class="theArea">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Code</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Off percentage</th>
                                    <th scope="col">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% coupon.forEach(function(coupon){%>                       <tr>
                                    <td><%= coupon.code%></td>
                                    <td id="date"><%= coupon.date %></td>
                                    <td><%= coupon.percentage %> %</td>
                                    <td><strong><%= coupon.status %></strong></td>
                                    <td><a onclick="removecoupon('<%=coupon._id %>')" class="btn btn-danger">Delete</a></td>
                                </tr>
                               <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
                                    </div></div></div></div></div></div></div></div></section>
      
              <!--/ Basic Bootstrap Table -->

              <hr class="my-5" />
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                
                  <script>
                    
                  </script>
                 
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder"></a>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <% coupon.forEach(function(coupon){%>   
        <script>
            var couponDateString = '<%= coupon.date %>'; // Get the date string from the server
            var couponDate = moment(couponDateString).toDate(); // Parse coupon date as a Date object using Moment.js
            var currentDate = new Date(); // Get current date as a Date object
            if (moment(couponDate).isSame(currentDate, 'day')) { // Compare coupon date with current date, ignoring time
              console.log("Coupon is valid today");
            } else if (moment(couponDate).isBefore(currentDate)) {
                
              console.log("Coupon has expired");
            } else {
              console.log("Coupon is still valid");
            }
          </script>
     <%})%>
    <script>
        const removecoupon = async (couponId, index) => {
          // Show a confirmation dialog using SweetAlert2
          Swal.fire({
            title: 'Are you sure?',
            text: 'This coupon will be removed from your coupon list!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
          }).then((result) => {
            // If the user confirms the deletion
            if (result.value) {
              // Send a POST request to remove the product from the backend
              fetch('/admin/removecoupon', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  couponId: couponId,
                })
              })
              .then(response => response.json())
              .then(result => {
                console.log(result); // Log the response to the console
                if (result.res == "success") {
                  // Show a success message using SweetAlert2
                  Swal.fire(
                    'Deleted!',
                    'This coupon has been removed from your coupon list.',
                    'success'
                  ).then(() => {
                    // Reload the page after the success message is shown
                    location.reload();
                  });
                } else {
                  // If there is an error, show an error message using SweetAlert2
                  Swal.fire(
                    'Error',
                    'There was an error removing the coupon from your coupon list.',
                    'error'
                  );
                }
              })
              .catch(error => {
                console.log(error); // Log any errors to the console
                // Show an error message using SweetAlert2
                Swal.fire(
                  'Error',
                  'There was an error removing the item from your coupon list.',
                  'error'
                );
              });
            }
          })
        }
      </script>


</body>

</html>