<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani</title>
    <link rel="icon" href="/img/logo2.png">
    
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <style>

@import url('https://fonts.googleapis.com/css?family=Numans');



.container{
height: 70%;
align-content: center;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(250, 247, 247, 0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: rgb(25, 22, 22);
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
    </style>

    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                      
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                           
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                   
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                       
                        <div class="hero__search__phone">
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Edit Product</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->


    <!--login page-->
    
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                   
                    <div class="d-flex justify-content-end social_icon">
                        
                    </div>
                </div>
               
               
                <div class="card-body">
                   
                    <form action="/admin/edit-product?id=<%= product._id %>" method="post" enctype="multipart/form-data">
                        <div class="input-group form-group">
                           
                            <input type="text" id="name" name="name" value="<%= product.productName %>" class="form-control" placeholder="Product Name" required>
                            
                        </div>
                        
                        <div class="input-group form-group">
                            
                            <input type="number" id="price" name="price" value="<%= product.price %>" class="form-control" placeholder="Price" required>
                        </div>
                        <div class="input-group form-group">
                           
                            <input type="text" id="details" name="description" class="form-control" value="<%= product.description %>" placeholder="Description" required>
                        </div>
                        <div class="input-group form-group">
                           
                            <input type="number" id="stock" name="stock" value="<%= product.stock %>" class="form-control" placeholder="Stock" required>
                            
                        </div>
                        
                        <div class="input-group form-group">
                            
                            <input type="file" class="form-control" id="image" name="image" value="<%= product.img1%>" accept="image/*"multiple/>
                        </div>
                        <div>
                            <%for(let j=0;j<product.img1.length;j++){%>

                                 
                                <img src="/images/<%= product.img1[j]%>" alt="" width="50px" class="rounded-circle" />
                               
                                <a  onclick=" removeimage('<%= product._id %>','<%=product.img1[j]%>')"   class="btn btn-danger">Delete</a>
                                   <br>
                                   <br>
                                   
                                <%}%>
                            
                              
                           
                        </div>
                        <div class="input-group form-group">
                           
                            <input type="text" id="brand" name="brand" class="form-control"  value="<%= product.brand %>"  placeholder="Brand" required>
                        </div>
                        <div class="input-group form-group">
                          <select name="category" id="category" class="form-control form-control-lg border-dark" id="cars">
                            <option value="<%=product.Category%>"><%=product.Category%></option>
                            <% for(let i=0;i<categoryData.length;i++){ %>
                                <% if(categoryData[i]._id.toString() === product.category.toString()) { %>
                                  <option value="<%= categoryData[i]._id%>" selected><%= categoryData[i].name %></option>
                                <% } else { %>
                                  <option value="<%= categoryData[i]._id%>"><%= categoryData[i].name %></option>
                                <% } %>
                              <% } %>
                        </select>
                        
                            
                        </div>
                        
                        <div class="input-group form-group">
                            
                            <input type="text" id="rating" name="rating" class="form-control"  value="<%= product.rating %>" placeholder="Rating" required >
                        </div>
                        <div class="input-group form-group">
                           
                            <input type="text" id="numReviews" name="numReviews" class="form-control"  value="<%= product.numReviews%>" placeholder="Reviews" required>
                        </div>

 
                        <div class="row align-items-center remember" style="color: black;">
                           
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Edit Product" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>

    

    


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        const removeimage = async (productId,imageId) => {
          // Show a confirmation dialog using SweetAlert2
          console.log("for chrcking "+productId)
          Swal.fire({
            title: 'Are you sure?',
            text: 'This image will be removed from your product list !',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
          }).then((result) => {
            // If the user confirms the deletion
            if (result.value) {
              // Send a POST request to remove the product from the backend
              fetch('/admin/deleteProductImage', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  productId: productId,
                  imageId:imageId
                })
              })
              .then(response => response.json())
              .then(result => {
                console.log(result); // Log the response to the console
                if (result.res == "success") {
                  // Show a success message using SweetAlert2
                  Swal.fire(
                    'Deleted!',
                    'This Image has been removed from your product list',
                    'success'
                  ).then(() => {
                    // Reload the page after the success message is shown
                    window.location.href = window.location.href;
                  });
                } else {
                  // If there is an error, show an error message using SweetAlert2
                  Swal.fire(
                    'Error',
                    'There was an error removing the item from your wishlist.',
                    'error'
                  );
                }
              })
              .catch(error => {
                console.log(error); // Log any errors to the console
                // Show an error message using SweetAlert2
                Swal.fire(
                  'Error',
                  'There was an error removing the item from your wishlist.',
                  'error'
                );
              });
            }
          })
        }
      </script>
      


</body>

</html>