<%- include("../layouts/adminheader") %>
<style>
    /*# sourceMappingURL=style.css.map */
@media only screen and (max-width: 800px){ 
  #no-more-tables tbody,
  #no-more-tables tr,
  #no-more-tables td {
    display: block;
  }
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-more-tables td {
    position: relative;
    padding-left: 50%;
  }
  #no-more-tables td:before {
    content: attr(data-title);
    position: absolute;
    left: 6px;
    font-weight: bold;
  }
}
</style>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Admin Product</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html"></a>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

   

    <a href="/admin/new-product" style="margin-left: 500px; margin-top: 10px;" class="btn btn-success">Add New Product</a>
                <br>
                <br>



              <main class="main">
                <div class="container">
                  <div class="table-responsive" id="no-more-tables">
                    <table class="table table-striped bg-white">
                      <thead class="btn-success text-light">
                        <tr>
                          <th style="font-size: 20px;" scope="col">Name</th>                  
                          <th style="font-size: 20px;" scope="col">Price</th>
                          <th style="font-size: 20px;" scope="col">Description</th>
                          <th style="font-size: 20px;" scope="col">Stock</th>
                          <th style="font-size: 20px;" scope="col">Image</th>
                         
                          <th style="font-size: 20px;" scope="col">Action</th>
                          
                        </tr>
                      </thead>
                      <%if(products.length> 0){%>
                              
                        <%for(let i=0;i < products.length; i++){%>
                      <tbody style="background-color: rgb(181, 238, 176);">
                       
                              <tr style="font-size: medium;">
                               
                                <td data-title="Name"><%= products[i].productName %></td>  
                                <td data-title="Name">Rs.<%= products[i].price %></td>  
                                 
                                <td data-title="Name"><%= products[i].description %></td> 
                                <td data-title="Name"><%= products[i].stock %>Kg</td>  
                                <td data-title="Name">
                                    <%for(let j=0;j<products[i].img1.length;j++){%>

                                 
                                    <img src="/images/<%= products[i].img1[j]%>" alt="" width="50px" class="rounded-circle" />
                                   
                                       
                                       <br>
                                       <br>
                                       
                                    <%}%>
                                </td>  
                               
                                
                                 
                                                       
                                <td data-title="Actions">
                                    <a href="/admin/edit-product?id=<%= products[i]._id %> " class="btn btn-success">Edit</a> 
                                    <span><i class="fa-sharp fa-solid fa-file-pen"></i></span>
                                    <a  onclick="deleteproduct('<%= products[i]._id %>')" class="btn btn-danger">Delete</a> 
                                  
                                    <span><i class="fa-solid fa-trash-can"></i></span>
                                  </a>  
                                </td>
                              </tr>
                            
                      </tbody>
                         
                    <%
                }
        
            }else{
                %>
                <tr>
                    <td colspan="5"> products Not Found</td>
                </tr>
                <%
            }
            
            %>
                    </table>
                  </div>
                </div>
              </main>
                




              



                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        async  function deleteproduct(productId){
        Swal.fire({
      title: 'Are you sure?',
      text: 'This item will be removed from your cart!',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      // If the user confirms the deletion
      if (result.value) {
        // Send a POST request to remove the product from the backend
        fetch('/admin/delete-product', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            productId:productId
          })
        })
        .then(response => response.json())
        .then(result => {
          console.log(result); // Log the response to the console
          if (result.res == "success") {
            // Show a success message using SweetAlert2
            Swal.fire(
              'Deleted!',
              'This item has been removed from your cart.',
              'success'
            ).then(() => {
              // Reload the page after the success message is shown
              location.reload();
            });
          } else {
            // If there is an error, show an error message using SweetAlert2
            Swal.fire(
              'Error',
              'There was an error removing the item from your cart.',
              'error'
            );
          }
        })
        .catch(error => {
          console.log(error); // Log any errors to the console
          // Show an error message using SweetAlert2
          Swal.fire(
            'Error',
            'There was an error removing the item from your cart.',
            'error'
          );
        });
      }
    })
  }
      </script>


</body>

</html>
    