<% if(typeof userData =="undefined"){%>        
  <%-include("../layouts/userheaderlogout")%>
<%}else{%>
  <%-include('../layouts/userheader')%>
<%}%>
  <body>
    <style>
      .table {
        border-collapse: collapse;
        width: 100%;
        max-width: 800px;
        margin: auto;
      }

      .table thead th {
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        text-align: left;
      }

      .table tbody td {
        border-bottom: 1px solid #ddd;
        padding: 10px;
        text-align: left;
      }

      .table tfoot td {
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        font-weight: bold;
        padding: 10px;
        text-align: left;
      }

      
    </style>
    <style>
        .delivery-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.delivery-addresses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.address-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.address-info {
  margin-bottom: 5px;
}

.add-new-address {
  margin-top: 10px;
}

.coupon-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.coupon-input {
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.apply-coupon {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  padding: 10px 20px;
  border-radius: 4px;
}



    </style>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
      <div class="humberger__menu__logo">
        <a href="#"><img src="img/logo.png" alt="" /></a>
      </div>
      <div class="humberger__menu__cart">
        <ul>
          <li>
            <a href="/wishlist"><i class="fa fa-heart"></i> <span></span></a>
          </li>
          <li>
            <a href="/cart"><i class="fa fa-shopping-bag"></i> <span>3</span></a>
          </li>
        </ul>
        
      </div>
      <div class="humberger__menu__widget">
        <div class="header__top__right__language">
          <img src="img/language.png" alt="" />
          <div>English</div>
          <span class="arrow_carrot-down"></span>
          <ul>
            <li><a href="#">Spanis</a></li>
            <li><a href="#">English</a></li>
          </ul>
        </div>
        <div class="header__top__right__auth">
          <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
      </div>
      <nav class="humberger__menu__nav mobile-menu">
        <ul>
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/shop">Shop</a></li>
        
        </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
      <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
      </div>
      <div class="humberger__menu__contact">
        
      </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
      <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li class="active"><a href="/shop">Shop</a></li>
                       
                       
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="/wishlist"><i class="fa fa-heart"></i></a></li>
                        <li><a href="/cart"><i class="fa fa-shopping-bag"></i> </a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
        </div>
      </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
              <h2>Checkout</h2>
              <div class="breadcrumb__option">
                <a href="/home">Home</a>
                <span>Checkout</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->

    <div class="container main">
      <div class="profile">
        <div class="container">
          <section class="h-100 h-custom" style="background-color: #ffffff">
            <div class="container py-5 h-100">
              <div
                class="row d-flex justify-content-center align-items-center h-100"
              >
                <div class="col-12">
                  <br /><br /><br />
                  <div
                    class="card card-registration card-registration-2"
                    style="border-radius: 15px"
                  >
                    <div class="card-body p-0">
                      <div class="row g-0">
                        <div class="col-lg-12">
                          <div class="p-5">
                            <div class="container">
                              <div class="row billing-fields">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sm-margin-30px-bottom">
                                    <div class="create-ac-content bg-light-gray padding-20px-all">
                                      <h2 class="delivery-heading">Deliver to:</h2>
                                      <div class="delivery-addresses">
                                        <% if (address) { %>
                                          <% for (i = 0; i < address.length; i++) { %>
                                            <div class="col">
                                              <div class="card shadow-sm">
                                                <div class="card-body" >
                                                  <label>
                                                    <input type="radio" id="address_<%= i %>" name="address" value="<%= address[i].name %>, <%= address[i].country %>, <%=address[i].address %>, <%= address[i].city %>, <%= address[i].state %>, <%= address[i].postcode %>, <%= address[i].phone %> - <%= address[i].email %>" required><br>
                                                    <%= address[i].name %><br>
                                                    <%= address[i].phone %><br>
                                                    <%= address[i].city %><br>
                                                    <%= address[i].state %><br>
                                                    <%= address[i].country %><br>
                                                    <%= address[i].address %><br>
                                                    <%= address[i].postcode %><br>
                                                    <%= address[i].email %><br><br>
                                                    <a href="/edit-address-checkoutpage?id=<%= address[i]._id %>"   class="btn btn-success">Edit Address</a>
                                                    <a  onclick=" removeaddress('<%= address[i]._id %>')"   class="btn btn-danger">Delete</a>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                                          <% } %>
                                        <% } else { %>
                                          <div>
                                            <p>No Address Found. Please add Address.</p>
                                          </div>
                                        <% } %>
                                      
                                        <div class="add-new-address">
                                          <a href="/checkout-addadress" class="btn bg-success apply-coupon"><strong>Add new Address</strong></a>
                                        </div>
                                      </div>
                                      <div class="coupon-area">
                                        <div class="check_title"></div>
                                        <input type="text" name="coupon" id="couponcode" class="coupon-input" placeholder="Enter coupon code" />
                                        <button class="btn bg-success apply-coupon" onclick="checkCoupon(),couponcheck()" href="">Apply Coupon</button>
                                        <span id="errorMessage" class="coupon-error"></span>
                                      </div>
                                     
                                      <% 
                                      if(typeof message !=='undefined'){
                                      %>
                                      <p style="color:red"> <%= message %></p>
                                      <%
                                      } 
                                      
                                      %>
                                      <br>
                                      <br>
                                     
                                    </div>
                                  </div>
                                 

                                 






                                  
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <div class="your-order-payment">
                                    <div class="your-order">
                                      <h2 class="order-title mb-4">
                                        Your Order
                                      </h2>

                                      <div
                                        class="table-responsive-sm order-table table-bordered"
                                      >
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col">Product Name</th>
                                              <th scope="col">Quantiy</th>
                                              <th scope="col">Price</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <%
                                            productDetails.forEach(function(product)
                                            { %>
                                            <tr>
                                              <td scope="row">
                                                <%= product.productName %>
                                              </td>
                                              <td><%= product.quantity %></td>
                                              <td><%= product.price %></td>
                                              <input
                                                type="hidden"
                                                name="productid"
                                                value="<%= product._id %>"
                                              />
                                              <input
                                                type="hidden"
                                                name="productname"
                                                value="<%= product.productName %>"
                                              />
                                              <input
                                                type="hidden"
                                                name="price"
                                                value="<%= product.price %>"
                                              />
                                              <input
                                                type="hidden"
                                                name="quantity"
                                                value="<%= product.quantity %>"
                                              />
                                            </tr>
                                            <% }); %>
                                          </tbody>
                                          <tfoot>
                                            <tr>
                                              <td>Total</td>
                                              <td></td>
                                              <td><%= subtotal %></td>
                                              <input
                                                type="hidden"
                                                id="subtotal"
                                                value="<%= subtotal %>"
                                              />
                                            </tr>
                                          </tfoot>
                                        </table>
                                      </div>
                                    </div>
                                    <div>
                                      <li
                                        class="list-group-item d-flex justify-content-between align-items-center px-0"
                                      >
                                        Offer
                                        <h3 id="offer" class="fw-normal">
                                          <%= offer %> %
                                        </h3>
                                      </li>
                                      <li
                                        class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                                      >
                                        <div>
                                          <strong>Total amount</strong>
                                        </div>
                                        <h3 id="gtotal" class="fw-normal">
                                          <%= total %>
                                        </h3>
                                        <input
                                                type="hidden"
                                                id="subtotals"
                                                value="<%= total %>"
                                              />
                                      
                                      </li>
                                    </div>
                                    <hr />
                                    <div class="your-payment">
                                      <h2 class="payment-title mb-3">
                                        Payment Method
                                      </h2>
                                      <br />
                                      <div class="payment-method">
                                        <div class="form-check">
                                          <input
                                            onclick="enableButton()"
                                            class="form-check-input"
                                            type="radio"
                                            name="payment"
                                            id="COD"
                                            value="1"
                                          />
                                          <label
                                            class="form-check-label"
                                            for="payment1"
                                          >
                                            Cash On Delivery
                                          </label>
                                          <div>
                                            <input
                                              onclick="enableButton()"
                                              class="form-check-input"
                                              type="radio"
                                              name="payment"
                                              id="rzp-button1"
                                              value="2"
                                            />
                                            <label
                                              class="form-check-label"
                                              for="payment2"
                                            >
                                              RazorPay
                                            </label>
                                          </div>
                                        </div>
                                        <hr />
                                        <div class="order-button-payment">
                                          <button
                                            class="btn bg-success apply-coupon"
                                            onclick="CheckplaceOrder()"
                                            value="Place order"
                                            id="placeOrderButton"
                                            disabled
                                          >
                                            Place order
                                          </button>
                                        </div>
                                        <input
                                          type="hidden"
                                          name="radioValue"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    

    <script>
      let addressId;
let payment;
let subtotal;
let Rtotal;
var tempamount;

subtotal = Number(document.getElementById("subtotals").value);

console.log("r total checking" + Rtotal);

function enableButton() {
  if (addressId) {
    document.getElementById("placeOrderButton").disabled = false;
  } else {
    Swal.fire({
      title: "Something went wrong",
      text: "Add address first !",
      icon: "error",
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "OK",
      timer: 3000,
    });
  }
}

document.addEventListener("DOMContentLoaded", function () {
  var radioButtons = document.getElementsByName("address");
  for (var i = 0; i < radioButtons.length; i++) {
    radioButtons[i].addEventListener("click", function () {
      var id = this.id;
      addressId = document.getElementById(id).value;
      enableButton();
    });
  }
});


      // ------------------------------------------RAZORPAY------------------------------------------------------------------
     
       
      async function CheckplaceOrder() {
        subtotal = Number(document.getElementById("subtotals").value);
        var tempamount;
if(Rtotal){
  tempamount = Rtotal;
}else{
  tempamount = subtotal;
}
        payment = Object.values(document.getElementsByName("payment"))
          .filter((item) => (item.checked ? item : ""))
          .map((item) => item.value);
          
        if (payment[0] == "1" && addressId) {
          placeOrder();
          orderId=null
        } else if (payment[0] == "2" && addressId) {
          var orderId;
          if(orderId !=null){
          $(document).ready(function () {
           
            var settings = {
              url: "/create/orderId",
              method: "POST",
              timeout: 0,
              headers: {
                "Content-Type": "application/json",
              },
              data: JSON.stringify({
                amount: tempamount* 100, //CHANGE THE AMOUNT AS NEEDED
              }),
            };

            //creates new orderId everytime
            $.ajax(settings).done(function (response) {
              orderId = response.orderId;
              
            });
          });
        }

          document.getElementById("placeOrderButton").onclick = function (e) {
           
            var options = {
              key: "rzp_test_FXi0DRSxpwhUmY", // Enter the Key ID generated from the Dashboard
              amount: tempamount* 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
              currency: "INR",
              name: "Ogani",
              description: "Organi",
              image: "mg/logo.png",
              order_id: orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
              handler: function (response) {
               
                var settings = {
                  url: "/api/payment/verify",
                  method: "POST",
                  timeout: 0,
                  headers: {
                    "Content-Type": "application/json",
                  },
                  data: JSON.stringify({ response }),
                };
                console.log(response);
                $.ajax(settings).done(function (response) {
                  placeOrder();
                 
                });
              },

              theme: {
                color: "#e7862b",
              },
            };
          
            var rzp1 = new Razorpay(options);
            rzp1.on("payment.failed", function (response) {
              Swal.fire({
            title: "Something went wrong",
            text: "Add address first !",
            icon: "error",
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "OK",
            timer: 3000,
          });
            });
            rzp1.open();
            e.preventDefault();
          };
        }
      }
      //   ------------------------------------------RAZORPAY-------------------------------------------------------------------
      orderId=null
      
      async function placeOrder() {
      
 
        const productid = Object.values(
          document.getElementsByName("productid")
        ).map((item) => item.value);
        const productname = Object.values(
          document.getElementsByName("productname")
        ).map((item) => item.value);
        const price = Object.values(document.getElementsByName("price")).map(
          (item) => item.value
        );
        const quantity = Object.values(
          document.getElementsByName("quantity")
        ).map((item) => item.value);
        var radioButtons = document.getElementsByName("address");
      for (var i = 0; i < radioButtons.length; i++) {
        radioButtons[i].addEventListener('click', function() {
          var id = this.id;
           addressId= document.getElementById(id).value;
         
        });
      }
       console.log("add"+addressId)
        const subtotal = Number(document.getElementById("subtotal").value);
        const couponcode = document.getElementById("couponcode").value;
       
        var tempamount;
if(Rtotal){
  tempamount = Rtotal;
}else{
  tempamount = subtotal;
}

        let data = {
          productid: productid,
          productname: productname,
          price: price,
          quantity: quantity,
          addressId: addressId,
          payment: payment,
          subtotal: tempamount,
          coupon: couponcode,
        };

        try {
          let orderplacement = await fetch("/place-order", {
            method: "post",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });
          let result = await orderplacement.json();
          console.log("harsendra raj testing" + result);
          if (result.res === "success") {
            Swal.fire({
              title: "Success",
              text: "Item ordered successfully !",
              icon: "success",
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "OK",
              timer: 3000,
            }).then((res) => {
              window.location.href = "/success";
            });
          } else {
            Swal.fire({
              title: "Something went wrong",
              text: "something went wrong !",

              icon: "failure",
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "OK",
              timer: 3000,
            }).then((res) => {
              window.location.href = "/home";
            });
          }
        } catch (error) {
          console.log(error);
        }
      }

      async function checkCoupon() {
        const coupon = document.getElementById("couponcode").value;
        const total = document.getElementById("subtotal").value;
        console.log(coupon);
        let valCoupon = await fetch("/validateCoupon", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ code: coupon, total: total }),
        });
        let response = await valCoupon.json();
        ;
     
        if (response == "fail") {
          document.getElementById("errorMessage").innerHTML = "Coupon Invalid";
        }else if(response == "alert"){
          Swal.fire(
                  'Error',
                  'Coupon is Valid only above the purchase of Rs.100',
                  'error'
                );
        }else {
          Rtotal = response.gtotal;
          let offer = (document.getElementById("offer").innerHTML = Number(
            response.offerPrice
          ));

          console.log("hgfds offer price"+Number(response.offerPrice));

          let subtotal = document.getElementById("subtotal").value;

          let gtotal = document.getElementById("gtotal").innerHTML;

          const amt = (Number(subtotal) * Number(offer)) / 100;

          gtotal = gtotal - amt;

          document.getElementById("gtotal").innerHTML = Rtotal;
        }
      }
    </script>


    <!--dalete the address in checkout page-->
    <script>
      const removeaddress = async (addressId) => {
        // Show a confirmation dialog using SweetAlert2
        Swal.fire({
          title: 'Are you sure?',
          text: 'This address will be removed from your checkout page!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'Cancel'
        }).then((result) => {
          // If the user confirms the deletion
          if (result.value) {
            // Send a POST request to remove the product from the backend
            fetch('/removeaddress-checkoutpage', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                addressId:addressId,
              })
            })
            .then(response => response.json())
            .then(result => {
              console.log(result); // Log the response to the console
              if (result.res == "success") {
                // Show a success message using SweetAlert2
                Swal.fire(
                  'Deleted!',
                  'This address has been removed from your checkout page.',
                  'success'
                ).then(() => {
                  // Reload the page after the success message is shown
                  window.location.href = window.location.href;
                });
              } else {
                // If there is an error, show an error message using SweetAlert2
                Swal.fire(
                  'Error',
                  'There was an error removing the address from your checkout page.',
                  'error'
                );
              }
            })
            .catch(error => {
              console.log(error); // Log any errors to the console
              // Show an error message using SweetAlert2
              Swal.fire(
                'Error',
                'There was an error removing the address from your checkout page.',
                'error'
              );
            });
          }
        })
      }
    </script>

<script>
  async function couponcheck(){
    fetch('/validateCoupon', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                addressId:addressId,
              })
            })


            .then(response => response.json())
            .then(result => {
              console.log(result); // Log the response to the console
              if (result.res == "success") {
                // Show a success message using SweetAlert2
                Swal.fire(
                  'Deleted!',
                  'This address has been removed from your checkout page.',
                  'success'
                ).then(() => {
                  // Reload the page after the success message is shown
                  window.location.href = window.location.href;
                });
              } 
            })

  }

</script>
  </body>
</html>
