<%- include("../layouts/userheader") %>
<style>
.zoom-image-container {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.zoom-image {
  
  position: relative;
  
}

.zoom-image img {
  
  cursor: zoom-in;
  
  
  box-shadow: 0 18px 5px -15px rgba( 0, 0, 0, .5 );
  
}

/* zoom */
.zoom-image-container {

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.zoom-image {

position: relative;

}

.zoom-image img {

cursor: zoom-in;


box-shadow: 0 18px 5px -15px rgba( 0, 0, 0, .5 );

}

.hover-image {

position: absolute;
width:400px;
height: 300px;

border-radius: 10%;

transform: translate( -0%, -20% );

pointer-events: none;

box-shadow: 0 0 10px rgba( 0, 0, 0,.1)

}

  </style>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            
                        </ul>
                    </nav>
                </div>
               
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="/wishlist"><i class="fa fa-heart"></i> </a></li>
                            <li><a href="/cart"><i class="fa fa-shopping-bag"></i> </a></li>
                        </ul>
                        <div > <span><%= products.price %></span></div>
                    </div>
                </div>
              
            </div>
           
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

  

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Vegetable’s Package</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <a href="./index.html">Vegetables</a>
                            <span>Vegetable’s Package</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <% if(products.length> 0){%>                
                  
                    <% for(let i=0;i < products.length; i++){%>
                        <div class="col-lg-6 col-md-6">
                            <div class="owl-carousel owl-theme">
                              <% for (var j=0; j<products[i].img1.length; j++) { %>
                                <div class="item zoom-image" data-image="/images/<%=products[i].img1[j]%>">
                                  <img src="/images/<%=products[i].img1[j]%>" alt="Your Image" width="900px" class="" />
                                </div>
                              <% } %>
                            </div>
                          </div>
                          
                
                <%}%>
                <%}%>
                <% if(products.length> 0){%>                
                  
                    <% for(let i=0;i < products.length; i++){%>
                      
               
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3><%= products.productName %></h3>
                        <div class="product__details__rating">
                            <% for(let j=0;j < products[i]. rating; j++){%>
                            <i class="fa fa-star"></i>
                           
                            <%}%>
                           
                            <span>(<%= products[i].numReviews %> reviews)</span>
                        </div>
                        <div class="product__details__price"><%= products.price %></div>
                        <p><%= products.description %></p>
                        <div class="product__details__quantity">
                           
                        </div>
                        <% if(products[i].stock==0){%>
                            <%}else{%>
                                <a onclick="addtocart('<%= products[i]._id %>')" class="primary-btn">ADD TO CART</a>
                                <a href="#" onclick="addtowishlist('<%= products[i]._id %>')" class="heart-icon"><span class="icon_heart_alt"></span></a>
                            <%}%>
                        
                        <ul>
                            <li><b>Product Name</b> <span><%= products[i].productName %></span></li>
                            <% if(products[i].stock==0){%>
                            <li><b>Availability</b> <span><samp>No Stock</samp></span></li>
                            <%}else{%>
                                <li><b>Availability</b> <span><%= products[i].stock %></span></li>
                            <%}%>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Weight</b> <span>1 kg</span></li>
                            <li><b>Price</b> <span>Rs. <%= products[i].price %></span></li>
                           
                        </ul>
                    </div>
                </div>
               
                
                


                <%}%>
                <%}%>
               
                     
                <div class="col-lg-12">
                   
                </div>
            </div>
        </div>
    </section>
    
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
          loop:true,
          margin:10,
          nav:true,
          items:1
        })
      </script>
      <script>
        async function addtowishlist(productId){
            let orderplacement = await fetch("/addtowishlist", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(
                    {
                        productId:productId  
                    }
                    ),
              });
              let result = await orderplacement.json();
              console.log("harsendra raj testing" + result);
              if (result.res === "success") {
                Swal.fire({
                  title: "Success",
                  text: "Item added successfully !",
                  icon: "success",
                  confirmButtonColor: "#3085d6",
                  cancelButtonColor: "#d33",
                  confirmButtonText: "OK",
                  timer: 3000,
                })
              } else {
                Swal.fire({
                  title: "Something went wrong",
                  text: "something went wrong !",
    
                  icon: "failure",
                  confirmButtonColor: "#3085d6",
                  cancelButtonColor: "#d33",
                  confirmButtonText: "OK",
                  timer: 3000,
                }).then((res) => {
                  window.location.href = "/shop";
                });
              }
        }
    </script>

<script>
    async function addtocart(productId){
      
        let orderplacement = await fetch("/addtocart", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(
                {
                    productId:productId  
                }
                ),
          });
          let result = await orderplacement.json()
          if (result.res === "success") {
            Swal.fire({
              title: "Success",
              text: "Item added successfully !",
              icon: "success",
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "OK",
              timer: 3000,
            })
          } else {
            Swal.fire({
              title: "Something went wrong",
              text: "something went wrong !",

              icon: "failure",
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "OK",
              timer: 3000,
            }).then((res) => {
              window.location.href = "/shop";
            });
          }
          
         
          
          
          }
    
</script>

    
      


</body>

</html>
<script>

function changeImage(element) {

var main_prodcut_image = document.getElementById('main_product_image');
main_prodcut_image.src = element.src;

}


		
		jQuery(document).ready(function ($) {

$('.zoom-image img').click(function (event) {
	var ix = $(this).offset().left;
	var iy = $(this).offset().top;
	console.log(ix + '-' + iy);

	var mx = event.pageX;
	var my = event.pageY;
	console.log(mx + '-' + my);
})

$('.zoom-image img').hover(function () {

	var img = $(this).attr('src');

	$(this).after("<div class='hover-image' style='background-image: url(" + img + "); background-size: 300px;'></div>");

	$(this).mousemove(function (event) {

		// Mouse Position
		var mx = event.pageX;
		var my = event.pageY;

		// Image Position
		var ix = $(this).offset().left;
		var iy = $(this).offset().top;

		// Mouse Position Relavtive to Image
		var x = mx - (ix);
		var y = my - (iy);

		// Image Height and Width
		var w = $(this).width();
		var h = $(this).height();

		// Mouse Position Relative to Image, in %
		var xp = (-x / w) * -100;
		var yp = (-y / h) * -100;

		$(this).parent().find('.hover-image').attr('style',

			"background-image: url(" + img + "); background-size: 1000px; background-repeat: no-repeat; background-position: " + xp + "% " + yp + "%; top: " + y + "px; left: " + x + "px;");

	});

}, function () {

	$(this).parent().find('.hover-image').remove();

});

});
</script>